#lbs_books_search_wrapper, #lbs_books_result {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

#lbs_books_result {
    margin-top: 40px;
}

.lbs_pagination {
    text-align: right;
}

#lbs_books_search_wrapper .lbs_books_search_head, .lbs_books_search_footer {
    text-align: center;
}

#lbs_books_search_wrapper .lbs_select {
    width: 100%;
    height: 50px;
}

#lbs_books_search_wrapper label.start {
    float: left;
}

#lbs_books_search_wrapper label.end {
    float: right;
}

#lbs_books_search_wrapper input::-webkit-outer-spin-button,
#lbs_books_search_wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#lbs_books_search_wrapper input[type=number] {
    -moz-appearance: textfield;
}

#lbs_books_search_wrapper div#slider-range {
    margin: 15px 10px;
}

#lbs_books_search_wrapper .star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right: .3em solid transparent;
    border-bottom: .7em solid #FC0;
    border-left: .3em solid transparent;
    font-size: 8px;
}

#lbs_books_search_wrapper .star:before,#lbs_books_search_wrapper .star:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: .6em;
    left: -1em;
    border-right: 1em solid transparent;
    border-bottom: .7em solid #FC0;
    border-left: 1em solid transparent;
    transform: rotate(-35deg);
}
#lbs_books_search_wrapper .star:after {
    transform: rotate(35deg);
}